@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Common CSS style */
.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


.primary-text{
    color: #FD6E0A;
}
.dark2{
    color:#474747 ;
}
.primary-btn{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    padding: 12px 19px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    border: none;
}
/* Common CSS style */


/* Navegation Bar CSS */
.main-header{
    background-image: url("../images/developer.png"),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left,right bottom;
    background-size: 80px ,800px;
   
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px 0 80px;
}
.nav .nav-title{
    font-size: 45px;
    font-weight: 800;
}
.nav ul{
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style-type: none;
    margin: 0px 18px;
}
.nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

/* Banner CSS Style */
.banner{
    display: flex;
    margin: 20px 120px 0px 80px;
    justify-content: space-between;
    

  
}
.banner-text{
    width: 585px;
  margin-right: 80px;
}
.banner-img{
    width: 584px;
    margin-left: 80px;
   
}

.banner-img img{
width: 100%;
}

.banner-text .banner-intro{
    font-weight: 600;
    font-size: 37px;
    margin: 0px 0px 0px 0px;
}
.banner-text .banner-tital{
   font-weight:700 ;
   font-size:75px;
   color: rgb(24, 24, 24);
   margin: 0;
   padding: 15px 0;


}
.banner-text .banner-description{
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-weight: 400;
}
.banner-text .contactBtn{
    color: rgb(253, 110, 10);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 19px;
    border: 1px solid rgb(253, 110, 10);
    background-color: rgb(255, 255, 255);
}
.banner-text .cvBtn{
    margin-right: 20px;
}
.banner-text .bannerBtn{
    margin-top: 30px;
}

/* Main About Section Style */

.about-section{
    max-width: 1140px;
    background-color:rgb(255, 248, 243);
    margin: 0 auto;
    border-radius: 10px;
     margin-top: 100px;
}
.about-area{
    padding: 150px 150px;
}

.about-area .about-title{
    color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}
.about-area .about-description{
    color: rgb(117, 117, 117);
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.about-nav{
    display: flex;
    justify-content: space-around;
    
}
.about-nav .navtext{
    font-weight:400 ;
    font-size:20px ;
    color: rgb(117, 117, 117);

    
}
.about-nav .navtext2{
    font-weight:700 ;
    font-size:20px ;
    color: rgb(71, 71, 71);
}
.about-area .about-title{
    margin-top: 0;
    padding-top: 0;
}
.about-border{
    border: 2px solid rgb(117, 117, 117);
    background-color: #FFFFFF;
    padding: 3px;
}

/* Do Section Style */
.do-section{
    max-width: 1140px;
    /* background-color:rgb(255, 248, 243); */
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.do-area .do-title{
color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
text-align: center;
margin-bottom: 0;
}
.do-area .do-description{
color: rgb(117, 117, 117);
font-size: 18px;
font-weight: 400;
text-align: center;
}
.card-area{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-top: 50px;
}
.card-area .cardwidth{
width:250px;
border-radius: 5px;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
padding: 27px 24px;
}
.card-area .card-title{
color: rgb(24, 24, 24);
font-size: 20px;
font-weight: 700;
text-align: center;
}
.card-area .card-description{
color: rgb(117, 117, 117);
font-size: 16px;
font-weight: 400;
text-align: left;
}

/* Resume Section Style */
.resume{
    max-width: 1140px;
    margin: 0 auto 100px;
}
.resume-container{
    display: flex;
    margin-bottom: 20px;
}
.resume-area .resume-title{
    color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
text-align: center;
}
.resume-container .education-title, .exprience-title{
    color: rgb(71, 71, 71);
font-size: 30px;
font-weight: 700;
text-align: left;
margin-bottom: 0;
margin-top: 100px;
}

.educataion-collam .education h4{
    color: rgb(71, 71, 71);
font-size: 25px;
font-weight: 700;
text-align: left;
margin-bottom: 0;
}
.educataion-collam .education h5{
    color: rgb(117, 117, 117);
font-size: 20px;
font-weight: 600;
text-align: left;
margin-top: 10px;
}
.educataion-collam .education p{
    color: rgb(117, 117, 117);
font-size: 16px;
font-weight: 400;
text-align: left;
}
.exprience-collam .exprience h4{
    color: rgb(71, 71, 71);
font-size: 25px;
font-weight: 700;
text-align: left;
margin-bottom: 0;
}
.exprience-collam .exprience h5{
    color: rgb(117, 117, 117);
font-size: 20px;
font-weight: 600;
text-align: left;
margin-top: 10px;

}
.exprience-collam .exprience p{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.educataion-collam hr{
    margin: 20px 15px;
}
.exprience-collam hr{
    margin: 20px 15px;
}
.resume-area .resume-btn{
    text-align: center;
}

/* Footer Section CSS */

.footer-area{
    display: flex;
    gap: 117px;
}
.footer-section{
    background: rgb(255, 248, 243);
}
.footer-area{
    padding: 130px 230px;
}
.footer-text-collom .foooter-text-title{
    color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
text-align:left;
margin-bottom: 0;
}
.footer-text-collom .footer-description{
    color: rgb(71, 71, 71);
font-size: 16px;
font-weight: 400;
text-align: left;
}
.footer-text-collom .footer-icon{
    margin: 25px 0;
}
.iconPad{
    padding-right: 20px;
}
.footer-area .footer-form-collom .form-area{
    color: rgb(24, 24, 24);
font-size: 35px;
font-weight: 700;
text-align: left;
margin-bottom: 0;
}
.footer-form-collom input[type="text"], .footer-form-collom input[type="email"], .footer-form-collom textarea{
    display: block;
    width: 100%;
    padding: 18px 0 18px 30px ;
    margin-top: 28px;
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border: none;

}
.footer-form-collom .form-btn{
     color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 700;
text-align: center;
border-radius: 5px;
background: rgb(253, 110, 10);
border: none;
padding: 18px 39px;
margin-top: 24px;
}